.prisma-modal__content {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.prisma-modal__content_fullscreen {
    height: calc(100% - 2 * var(--modal-margin));
    width: calc(100% - 2 * var(--modal-margin));
}

.prisma-modal__content_view_default {
    --modal-margin: var(--spacing-8);

    background-color: var(--color-background-default);
    border-radius: var(--border-radius-12);
}

.prisma-modal__content_view_clear {
    --modal-margin: 0px;
}

.prisma-modal__overlay {
    --overlay-animation-transition: opacity 0.2s ease-out, transform 0.2s ease-out;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background-overlay);
}

.prisma-modal__overlay_animation_enter,
.prisma-modal__overlay_animation_appear {
    opacity: 0.1;
}

.prisma-modal__overlay_animation_enter .prisma-modal__content,
.prisma-modal__overlay_animation_appear .prisma-modal__content {
    transform: translateY(50px) scale(0.98);
    opacity: 0;
}

.prisma-modal__overlay_animation_enter-active,
.prisma-modal__overlay_animation_enter-done,
.prisma-modal__overlay_animation_appear-active,
.prisma-modal__overlay_animation_appear-done {
    opacity: 1;
    transition: var(--overlay-animation-transition);
}

.prisma-modal__overlay_animation_enter-active .prisma-modal__content,
.prisma-modal__overlay_animation_enter-done .prisma-modal__content,
.prisma-modal__overlay_animation_appear-active .prisma-modal__content,
.prisma-modal__overlay_animation_appear-done .prisma-modal__content {
    transition: var(--overlay-animation-transition);

    transform: translateY(0px) scale(1);
    opacity: 1;
}

.prisma-modal__overlay_animation_exit {
    opacity: 1;
}

.prisma-modal__overlay_animation_exit .prisma-modal__content {
    opacity: 1;
}

.prisma-modal__overlay_animation_exit-active {
    opacity: 0.1;
    transition: var(--overlay-animation-transition);
}

.prisma-modal__overlay_animation_exit-active .prisma-modal__content {
    transition: var(--overlay-animation-transition);

    transform: translateY(50px) scale(0.98);
    opacity: 0;
}

.referral-modal-v2__wrapper {
    color: var(--color-content-primary);
}

    @media (max-width: 767px) {.referral-modal-v2__wrapper {
        padding: 16px
}
    }

.referral-modal-v2__wrapper:not([class*='fullscreen']) {
    width: 480px;
    height: 600px;
    padding: 32px;
}

@media (max-height: 599px) {

.referral-modal-v2__wrapper:not([class*='fullscreen']) {
        height: 90vh
}
    }

.referral-modal-v2__button {
    width: 100%;
    margin-top: auto;
}

.referral-modal-v2__button .prisma-button__label {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.referral-modal-v2__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;

    overflow: auto;
}

.referral-modal-v2__image {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;

    width: 365px;
    height: 365px;
}

    @media (max-width: 413px) {.referral-modal-v2__image {
        width: 320px;
        height: 320px
}
    }

    @media (max-width: 359px), (max-height: 500px) {.referral-modal-v2__image {
        display: none
}
    }

.referral-modal-v2__text {
    margin: 0;

    font: var(--font-ys-body-16-regular-ui);

    font-feature-settings: 'pnum' on, 'lnum' on;
}

.referral-modal-v2__text ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    -webkit-padding-start: var(--spacing-16);
            padding-inline-start: var(--spacing-16);
}

.referral-modal-v2__title {
    margin: 0;
    margin-right: var(--spacing-40);
    font: var(--font-ys-header-28-medium);
    font-feature-settings: 'pnum' on, 'lnum' on;
}

    @media (max-width: 1023px) {.referral-modal-v2__title {
        font: var(--font-ys-header-24-medium);
        font-feature-settings: 'pnum' on, 'lnum' on
}
    }

.referral-modal-v2__close {
    position: absolute;
    top: var(--spacing-8);
    right: var(--spacing-8);
}


/*# sourceMappingURL=https://s3.mds.yandex.net/wirth-sourcemaps/v2.204/build/referral-modal-v2.build.css.map*/